/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --color-menu-decor: #FF0070;
  --title-section: #FF0070;
  --paragraf-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --color-hover: #FF007066;
  --link-border-color: #F1B2CE;
  --page-background-image: url('../images/cover-image-dark.png');
  --page-background-color: #000028;
  --rec: visible;
}