/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --title-decor: #FF8DCB;
  --color-menu-decor: #353430;
  --title-section: #353430;
  --paragraf-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --color-hover: #32312D66;
  --link-border-color: #353430;
  --page-background-image: url('../images/cover-image-light.png');
  --page-background-color: #FFF1F7;
  --rec: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --title-decor: #FF8DCB;
  --color-menu-decor: #353430;
  --title-section: #353430;
  --paragraf-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --color-hover: #32312D66;
  --link-border-color: #353430;
  --page-background-image: url('../images/cover-image-light.png');
  --page-background-color: #FFF1F7;
  --rec: hidden;
  }
}
